/* Animation for titles on page loading */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slidev-layout:not(.slidev-vclick-prior) h1 {
    animation: fadeIn 0.8s ease-out;
}

/* Animation for elements on v-click */
.slidev-vclick-target {
    transition: all 0.5s ease;
}

.slidev-vclick-hidden {
    opacity: 0;
    transform: translateY(10px);
}

/* Animation for zooming in the active list item */
/* Highlight the active list item */
li.slidev-vclick-target.slidev-vclick-current {
    animation: zoomIn 0.3s ease;
    transform: scale(1.1);
}
/* Low opacity for previous list item */
li.slidev-vclick-prior {
    opacity: 0.7;
}
